{
  "presets": [
    "env",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-es2015-modules-umd", {
      "globals": {
        "Todo.src": "Todo"
      },
      "exactGlobals": true
    }],
    "transform-object-assign"
  ]
}
