/*
PForm 2.0

license: http://www.gnu.org/licenses/gpl.html
license: http://www.gnu.org/licenses/lgpl.html
license: http://www.mozilla.org/MPL/MPL-1.1.html
Required for IE 7 and lower.
*/
.pf-form {
	overflow: hidden; /* Hides an extended border. */
	height: 100%; /* Makes IE6 enclose floats. */
}
.pf-form fieldset {
	overflow: visible; /* IE7 will show scrollbars without this. */
}
.pf-form .pf-element {
	width: 100%; /* Positions the inputs correctly. */
}
.pf-form .pf-buttons {
	width: 550px; /* Keeps IE's broken box model from pushing the button box out of the form. Increase or decrease if needed. */
}