/*
Color Scheme: http://paletton.com/palette.php?uid=c1T3n2J040kpEKzpEKzbEPSOEyiNk9W
*/
.brighttheme {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.brighttheme-notice {
    background-color: #FFFFA2;
    border: 1px solid #FFFF00;
    color: #4F4F00;
}
.brighttheme-info {
    background-color: #8FCEDD;
    border: 1px solid #0286A5;
    color: #012831;
}
.brighttheme-success {
    background-color: #AFF29A;
    border: 1px solid #35DB00;
    color: #104300;
}

.brighttheme-error {
    background-color: #FFABA2;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,.3) 35px, rgba(255,255,255,.3) 70px);
    border: 1px solid #FF1800;
    color: #4F0800;
}
.brighttheme-icon-notice,
.brighttheme-icon-info,
.brighttheme-icon-success,
.brighttheme-icon-closer,
.brighttheme-icon-sticker {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    font-family: "Courier New",Courier,monospace;
    border-radius: 50%;
}
.brighttheme-icon-notice:after,
.brighttheme-icon-info:after,
.brighttheme-icon-success:after,
.brighttheme-icon-closer:after,
.brighttheme-icon-sticker:after {
    position: absolute;
    top: 0;
    left: 4px;
}
.brighttheme-icon-notice {
    background-color: #2E2E00;
    color: #FFFFA2;
}
.brighttheme-icon-notice:after {
    content: "!";
}
.brighttheme-icon-info {
    background-color: #012831;
    color: #8FCEDD;
}
.brighttheme-icon-info:after {
    content: "i";
}
.brighttheme-icon-success {
    background-color: #104300;
    color: #AFF29A;
}
.brighttheme-icon-success:after {
    content: "\002713";
}
.brighttheme-icon-error {
    position: relative;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #2E0400;
    font-size: 0;
    line-height: 0;
    color: #FFABA2;
}
.brighttheme-icon-error:after {
    position: absolute;
    top: 1px;
    left: -4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    font-family: "Courier New",Courier,monospace;
    content: "!";
}
.brighttheme-icon-closer,
.brighttheme-icon-sticker {
    display: inline-block;
}
.brighttheme-icon-closer:after {
    top: -4px;
    content: "\002715";
}
.brighttheme-icon-sticker:after {
    top: -5px;
    content: "\01D1BC";
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.brighttheme-icon-sticker.brighttheme-icon-stuck:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}