/*
Color Scheme: http://paletton.com/palette.php?uid=c1T3n2J040kpEKzpEKzbEPSOEyiNk9W
*/
[ui-pnotify] .brighttheme {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
[ui-pnotify] .brighttheme.ui-pnotify-container {
  padding: 18px;
}
[ui-pnotify] .brighttheme .ui-pnotify-title {
  margin-bottom: 12px;
}
[ui-pnotify] .brighttheme-notice {
  background-color: #FFFFA2;
  border: 0 solid #FFFF00;
  color: #4F4F00;
}
[ui-pnotify] .brighttheme-info {
  background-color: #8FCEDD;
  border: 0 solid #0286A5;
  color: #012831;
}
[ui-pnotify] .brighttheme-success {
  background-color: #AFF29A;
  border: 0 solid #35DB00;
  color: #104300;
}
[ui-pnotify] .brighttheme-error {
  background-color: #FFABA2;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,.3) 35px, rgba(255,255,255,.3) 70px);
  border: 0 solid #FF1800;
  color: #4F0800;
}
[ui-pnotify] .brighttheme-icon-notice,
[ui-pnotify] .brighttheme-icon-info,
[ui-pnotify] .brighttheme-icon-success,
[ui-pnotify] .brighttheme-icon-closer,
[ui-pnotify] .brighttheme-icon-sticker {
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  font-family: "Courier New",Courier,monospace;
  border-radius: 50%;
}
[ui-pnotify] .brighttheme-icon-notice:after,
[ui-pnotify] .brighttheme-icon-info:after,
[ui-pnotify] .brighttheme-icon-success:after,
[ui-pnotify] .brighttheme-icon-closer:after,
[ui-pnotify] .brighttheme-icon-sticker:after {
  position: absolute;
  top: 0;
  left: 4px;
}
[ui-pnotify] .brighttheme-icon-notice {
  background-color: #2E2E00;
  color: #FFFFA2;
  margin-top: 2px;
}
[ui-pnotify] .brighttheme-icon-notice:after {
  content: "!";
}
[ui-pnotify] .brighttheme-icon-info {
  background-color: #012831;
  color: #8FCEDD;
  margin-top: 2px;
}
[ui-pnotify] .brighttheme-icon-info:after {
  content: "i";
}
[ui-pnotify] .brighttheme-icon-success {
  background-color: #104300;
  color: #AFF29A;
  margin-top: 2px;
}
[ui-pnotify] .brighttheme-icon-success:after {
  content: "\002713";
}
[ui-pnotify] .brighttheme-icon-error {
  position: relative;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #2E0400;
  font-size: 0;
  line-height: 0;
  color: #FFABA2;
  margin-top: 1px;
}
[ui-pnotify] .brighttheme-icon-error:after {
  position: absolute;
  top: 1px;
  left: -4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  font-family: "Courier New",Courier,monospace;
  content: "!";
}
[ui-pnotify] .brighttheme-icon-closer,
[ui-pnotify] .brighttheme-icon-sticker {
  display: inline-block;
}
[ui-pnotify] .brighttheme-icon-closer:after {
  content: "\002715";
}
[ui-pnotify] .brighttheme-icon-sticker:after {
  top: -1px;
  content: "\002016";
}
[ui-pnotify] .brighttheme-icon-sticker.brighttheme-icon-stuck:after {
  content: "\00003E";
}

[ui-pnotify] .brighttheme .ui-pnotify-action-bar {
  padding-top: 12px;
}
[ui-pnotify] .brighttheme .ui-pnotify-action-bar textarea,
[ui-pnotify] .brighttheme .ui-pnotify-action-bar input {
  display: block;
  width: 100%;
  margin-bottom: 12px !important;
}
[ui-pnotify] .brighttheme .ui-pnotify-action-button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 8px;
  border: none;
  background: transparent;
}

[ui-pnotify] .brighttheme .ui-pnotify-action-button.btn-primary {
  border: none;
  border-radius: 0;
}
[ui-pnotify] .brighttheme-notice .ui-pnotify-action-button.btn-primary {
  background-color: #FFFF00;
  color: #4F4F00;
}
[ui-pnotify] .brighttheme-info .ui-pnotify-action-button.btn-primary {
  background-color: #0286A5;
  color: #012831;
}
[ui-pnotify] .brighttheme-success .ui-pnotify-action-button.btn-primary {
  background-color: #35DB00;
  color: #104300;
}
[ui-pnotify] .brighttheme-error .ui-pnotify-action-button.btn-primary {
  background-color: #FF1800;
  color: #4F0800;
}
